body {
    margin: 0px;
    padding: 0px;
}

.row-1 {
    height: 100px;
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    box-sizing: border-box;
    
}

.box-row-1 {
    height: 80px;
    width: 80px;
    background-color: rgb(51, 129, 218);
    margin-left: 5px;
}

.row-2 {
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 25px;
}

.row-2 p {
   font-size: 35px;
   color: rgb(65, 65, 82);
   margin: 30px 100px;
}

.row-3 {
    margin-top: 120px;
    height: 100px;
    width: 100%;
    background-color:  rgb(51, 129, 218);
}

.row-4 {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(31, 250, 184);
}

.row-5 {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(108, 218, 126);
}

.row-6 {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(208, 221, 29);
}